@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #D3D3D3;
}

header{
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -1px 6px 15px -5px #000000dc;
  border: 2px solid;
  background-color: #778899;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo img{
  width: 55px;
  line-height: 23px;
  margin-left: 40px;
}

nav{
  box-sizing: border-box;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin-right: 40px;
}

.item_menu{
  padding: 6px 10px;
  border: 1px solid;
  border-radius: 16px;
}

a{
  text-decoration: none;
  color: black;
}

main{
  height: 500px;
  margin-top: 50px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid;
  box-shadow: -1px 6px 15px -5px #000000de;
  border-radius: 10px;
}

.banner{
  background-image: url(../img/SP-Film-Commission.jpg);
  width: 100%;
  height: 100%;
  display: flex;
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.txt_banner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100px;
  align-self: center;
  background-color: rgba(31, 30, 30, 0.344);
  color: white;
}

h2{
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 85px;
}

.curiosidades{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: 10rem;
  margin-right: 10rem;
  flex-direction: row;
  
}

.cards_curiosidades1{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: -1px 6px 15px -5px #000000de;
  text-align: justify;
  gap: 10px;
}

.img{
  display: flex;
  align-self: center;
  margin-top: 10px;
}

.cards_curiosidades2{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: -1px 6px 15px -5px #000000de;
  text-align: justify;
  gap: 10px;
}

.cards_curiosidades3{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: -1px 6px 15px -5px #000000de;
  text-align: justify;
  gap: 10px;
}

.imagens-curiosidades{
  border-radius: 5px;
  max-width: 400px;
}

.video_sp{
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

footer{
  display: flex;
  width: 100%;
  margin-top: 980px;
  background-color: #778899;
  border: 2px solid;
  justify-content: space-evenly;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.linkedin img{
  display: flex;
  max-width: 65px;
  align-items: center;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.github img{
  display: flex;
  max-width: 65px;
  align-items: center;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 426px){
  html{
    font-size: 14px;
  }

  .logo img{
    margin-left: 0%;
  }

  .banner{
    background-size: cover;
    background-position: center;
  }

  h2{
    margin-left: auto;
  }

  .curiosidades{
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
  }

  footer{
    margin-top: 1450px;
  }

}